name: Run Weekly PR Metrics
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1' # Run at 8 AM every Monday

jobs:
  call-reusable-workflow:
    uses: ./.github/workflows/issue-metrics.yml
    permissions:
      contents: read
      issues: write
      pull-requests: read
    with:
      # Optional: Add comma-separated labels to exclude
      excluded-labels: 'dependabot,wip'
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}